# Environnement virtuel
venv/
env/
.env

# Fichiers de configuration sensibles
.streamlit/secrets.toml
credentials.json

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de système
.DS_Store
Thumbs.db 