# Environnement virtuel
venv/
env/
.env

# Fichiers de configuration sensibles
.streamlit/secrets.toml
credentials.json
token.json

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de système
.DS_Store
Thumbs.db

# Fichiers de base de données
*.db
*.sqlite 