streamlit==1.28.0
pandas==1.5.3
plotly==5.13.1
python-dotenv==0.21.1
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0
supabase==1.0.3
numpy==1.23.5
altair==4.2.2 